*.pyc
.pytest_cache/*

# Ignore setuptools build
build/*
dist/*
pyseus.egg-info/*

# Ignore sphinx build
docs/build/*

# Ignore local editor config
.vscode/*

# Ignore local backups
backup/*
data_3D.npy
data_3D_programm.npy
coil_3D.npy
coil_3D_programm.npy
tests/samples/denoised2.npy
tests/samples/denoised.npy
